<section
  class="p-3 text-center bg-sand12 text-sm text-white flex flex-wrap justify-center items-center gap-y-1"
>
  <span>AdonisJS v7 is feature-complete and entering final validation</span>  <a
    class="border ml-2 text-xs p-1 px-2.5 rounded-md font-semibold bg-white text-sand12 focus:outline-none hover:text-white hover:bg-transparent transition-colors whitespace-nowrap"
    href="/blog/v7-feature-complete-update"
  >Learn more</a>
</section>
