<section class="p-4 text-center border border-b-gray-300">
  Looking to migrate your application to AdonisJS 6? Checkout <a class="underline" href="https://v6-migration.adonisjs.com" target="_blank">our migration guide</a>!
</section>
