<section class="mb-12 mt-20 md:mt-28">
  <div class="content-container">
    <div>
      @text.sectionTitle()
        World-class testing experience
      @end

      <div class="mt-6">
        @text.sectionBody()
          Testing is not an afterthought for us. We ship with primitives to manage test databases, swap dependencies, generate fake data, interact with cookies and sessions, and much more.
        @end
        @text.sectionBody()
          <span class="text-highlight">With AdonisJS, you will love writing tests.</span>
        @end
      </div>
    </div>
  </div>
</section>
