@let(classes = variant === 'small' ? [
  'max-sm:text-balance',
  'text-hero-mobile',
  'font-semibold',
  'text-sand12',
  'md:max-w-2xl',
  'md:text-hero-small',
] : [
  'max-sm:text-balance',
  'text-hero-mobile',
  'font-semibold',
  'text-sand12',
  'md:max-w-3xl',
  'md:text-hero',
])

<h1 {{ html.attrs({ class: classes }) }}>
  {{{ await $slots.main() }}}
</h1>
