@let(classes = variant === 'small' ? [
  'text-lg',
  'text-sanda11',
  'md:text-lede-small'
] : [
  'text-sanda11',
  'text-lg',
  'md:text-lede'
])

<p {{ html.attrs({ class: classes }) }}>
  {{{ await $slots.main() }}}
</p>
