<section class="py-8">
  <div class="content-container-small relative">
    <div class="absolute right-4 md:right-0 top-[-60px]">
      <img src="/arrow.svg" alt="">
    </div>
    <img src="/companies_logo_cloud.svg" alt="" class="w-full hidden md:block">
    <img src="/companies_logo_cloud_mobile.svg" alt="" class="w-full md:hidden">
  </div>
</section>
