<section class="py-8">
  <div class="content-container-small relative">
    <div class="absolute right-0 top-[-60px]">
      <img src="/arrow.svg" alt="">
    </div>
    <img src="/companies_logo_cloud.svg" alt="" class="w-full">
  </div>
</section>
