<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">

    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#865bd5">
    <link rel="shortcut icon" href="/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="{{ page.ogImage }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@adonisframework">
    <meta name="twitter:creator" content="@adonisframework">

    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="{{ page.ogImage }}">
    <meta property="og:type" content="article">

    <link rel="canonical" href="https://adonisjs.com{{ page.canonical }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400&family=Instrument+Sans:wght@400;500;600&display=swap"
    >
    @vite(['resources/js/app.js'])
  </head>
  <body
    class="font-sans antialiased text-sand11 h-full"
    x-data="{
      mobileNavExpanded: false
    }"
    :class="{ 'overflow-hidden': mobileNavExpanded }"
    @location-changed.window="mobileNavExpanded = false"
  >
    @include('partials/shared/banner')

    {{{ await $slots.main() }}}

    <script src="https://tally.so/widgets/embed.js" async defer></script>
  </body>
</html>
